.timetag {
    font-style: normal;
    color: #83B4FF;
    font-size: 12px;
    margin-right: 15px;
}

.time {
    font-style: normal;
    color: white;
    font-size: 41px;
    background: black;
    margin: 0;
    padding: 0;
}

.leftButton {
    text-align: left;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #2f3850;
    color: #ffffff;
    font-size: 14px;
}

.leftButtonSelect {
    text-align: left;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #3E4772;
    color: #FBF389;
    font-size: 16px;
    box-shadow: 0 0 5px #fff inset;
    -webkit-box-shadow: #fff 0px 0px 10px;
    -moz-box-shadow: #fff 0px 0px 10px;
}

#content {
    background: transparent;
    width: 100%;
    height: 800px;
    position: relative;
    overflow: no-display;
    text-align: left;
}

#leftmenu {
    margin: 0;
    width: 17%;
    height: 100%;
    position: absolute;
    background: transparent;
    padding-right: 20px;
    padding-left: 20px;
}

.leftmenusub {
    width: 100%;
    margin-top: 0;
    background: transparent;
}

div#mainMenu {
    width: 1200px;
    height: 80px;
    padding-top: 8px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10px;
    line-height: 44px;
}

#mainMenu a.ks {
    width: 124px;
    height: 34px;
    background: #3e4357;
    padding: 6px 15px;
    font-size: 16px;
    color: #ffffff;
    margin: auto 0 auto 10px;
    border-radius: 3px;
}

#mainMenu a.ksselected {
    text-align: center;
    width: 124px;
    height: 34px;
    margin-left: 10px;
    color: #5dffe7;
    background: #3e4357;
    padding: 6px 15px;
    font-size: 16px;
}

.itemicon {
    background: transparent;
    width: auto;
    margin-top: 5px;
    position: absolute;
    margin-left: 22px
}