.subitemselect {
    padding: 10px;
    background: #506fa9;
    cursor:pointer;
    margin: 0;
    color: #ffffff;
}

.subitem {
    padding: 10px;
    background: #303650;
    cursor:pointer;
    margin: 0;
    color: #ffffff;
}